* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-pag{
    display: flex;
    align-items: center;
    justify-content: start;
    width:45%;
    height: 100vh;
}

.celular-insta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.celular-insta img{
    width: 50rem;

}

.instagram-pag2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.grupo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.trcocacc{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
} 

.insta-logo {
    height: 3,5rem;
    margin-top: 20px;
}

.continuar{
    background-color:#0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.trocar{
    font-size: 12px;
    margin-left: 1px;
    color: #0095f6;
    margin-bottom: 20px;

}

.logout{
    font-size: 12px;
    margin-bottom: 20px;
}



@media (max-width: 1024px) {
    .instagram-pag {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-pag {
        width: 90%;
    }

    .celular-insta {
        display: none;
    }

    .instagram-pag2 {
        width: 100%;
    }
    
    .groupo {
        border: 1px solid transparent;
    }
}

